@text-color: #444;
@spHeight: 300px;
@spHeaderHeight: 50px;
@icon-width: 20px;
@item-height: 20px;
@shift: 200px; // has to be enough, else increase it
@num-flags: 3;

// this is the complete line (flag icons + node icon + node label)
// using the padding/margin trick
.list-item-box {
    padding-left: @shift + @icon-width * @num-flags;
    margin-left: -@shift;
    user-select: none;
    white-space: nowrap;
    cursor: default;
    &:hover{
        background-color: #f3f3f3;
    }
    &:active{
        background-color: #fed;
    }
}

// wrapper for flag icons (e.g. locked/hidden)
.list-item-flags {
    position: absolute;
    left: @icon-width;
    .icon {
        display: table-cell;
        height: @item-height;
        border-right: 1px solid #ccc;
        padding: 0 4px;
        &:nth-child(1) { color: #67a; } 
        &:nth-child(2) { color: #238; } 
        
    }
}

// wrapper for node icon and label
.list-item-div {
    padding-left: 4px;
    .icon {
        color: hsl(200, 60%, 75%);
        // cursor: pointer;
    }
    .itemLabel {
        color: @text-color;
        display: inline-block;
        padding-left: 6px;
    }
}

// the treeview (this here component)
.tree {
    > :first-child {
        padding: 0;
        position: relative;
        margin-left: -16px;
        margin-top: 6px;
    }
    height: @spHeight - @spHeaderHeight + 1px;
    // overflow-x: hidden;
    overflow-y: auto;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        padding-left: 20px;
        white-space: nowrap;
    }
}
